<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.bantamstudio.streamie"
    android:versionCode="20"
    android:versionName="3.0.0"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:name="co.bantamstudio.streamie.StreamieApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <service
            android:name="com.octo.android.robospice.JacksonSpringAndroidSpiceService"
            android:exported="false" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="twitch.tv" />
                <data android:host="www.twitch.tv" />
                <data android:host="justin.tv" />
                <data android:host="www.justin.tv" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StreamActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="@string/title_activity_stream"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Sherlock.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activity.SettingsActivity$ProviderPreferenceActivity"
            android:label="@string/title_provider_settings" >
        </activity>
        <activity android:name=".activity.GenericFragmentActivity" >
        </activity>
        <activity
            android:name=".activity.AdobeFlashActivity"
            android:label="@string/title_activity_adobe_flash"
            android:launchMode="singleTop" >
        </activity>
    </application>

</manifest>